
        .blue{
            background-color: blue;
            width: 90%;
            height: 1000px;
        }
        .white{
            background-color: white;
            margin-right: 20px;
            margin-top: 20px;
            float: right;
            width: 85%;
            height: 800px;
            display: flex;
            flex-wrap: nowrap;
        }
        .three{
            width: 33%;

        }


    